<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Formulário de cadastro de Notícia</title>
		</head>
	<body>

		<h1>Adicionar notícia</h1>

		<% if(validacao) { %>
			<ul>
				<% for (var i = 0; i < validacao.length; i ++){ %>
					<li><%= validacao[i].msg %></li> 
				<% } %>
			</ul>
		<% } %>

		<form action="/admin/adicionarNoticia" method="post">
			<label>Título</label><br/>
			<input type="text" name="titulo" value="<%=noticia.titulo%>" placeholder="Título da notícia"><br/>
			<label>Resumo</label><br/>
			<input type="text" name="resumo" value="<%=noticia.resumo%>" placeholder="Resumo da notícia"><br/>
			<label>Nome do autor</label><br/>
			<input type="text" name="nomeDoAutor" value="<%=noticia.nomeDoAutor%>" placeholder="Autor da notícia"><br/>
			<label>Data da notícia</label><br/>
			<input type="date" name="dataDaNoticia" value="<%=noticia.dataDaNoticia%>" placeholder="Data da notícia"><br/>
			<label>Conteúdo</label><br/>
			<textarea name="conteudo" value="<%=noticia.conteudo%>"cols="30" rows="5"></textarea><br/>
			<input type="submit" value="Enviar">
		</form>
	</body>
</html>